<header id="header">
    <img src="assets/logo.svg" class="logo">
    <div class="helpers">
        <div class="icons">
            <img src="assets/icons/home.svg">
        </div>
        <div class="icons">
            <img src="assets/icons/settings.svg">
        </div>
        <div class="icons">
            <img src="assets/icons/settings.svg">
        </div>
        <div class="avatar">
            <img src="https://i.pravatar.cc/300">
        </div>  
        <i class="ri-more-2-fill "></i>              
    </div>
    
    
</header>