<div class="container">
<app-header></app-header>
<app-journeyboard *ngFor="let task of tasks" [task]="this.task" ></app-journeyboard>
<app-noticeboard></app-noticeboard>


<div class="content" *ngFor="let task of tasks" >
  <div class="flexs">

    <b id="h">Technical Project Management</b>
    <button id="submit">
     Task Submit
    </button>
  </div>
  <div class="card">
    <b>
      Explore the world of management
    </b>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellat minus, dolorem aliquam nihil incidunt sed voluptatem fuga enim exercitationem rem voluptate suscipit? Consequatur, iure voluptatibus ratione in id eligendi!
    </p>

  </div>
  <div class="dragBoxes"  style="display: flex;align-items: center;justify-content: space-evenly;flex-wrap: wrap;gap: 2rem;">

   <app-assets *ngFor="let asset of task.assets" [asset]="asset"  ></app-assets>

  </div>

 
</div>



</div> 